# Dependencies
node_modules/

# Build output
dist/
release/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# docs
/docs/


# Agents
/Claude.md
/.agent
/.agents
/.claude
/.gemini
/.opencode
